/* body {
	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff; 
} */

.pages {
	display: flex;
}

.container-fluid.movie-app {
	padding: 20px;
	margin: 40px;
  }
  
  .top-section {
	border: 2px solid red;
	padding: 70px;
	font-size: larger;
	font-weight: 500;
	margin-bottom: 20px;
  }
  
  .bottom-section {
	display: flex;
	flex-direction: row;
  }
  
  .left-section {
	margin-right: 10px;
	border-right: 1px solid #ccc;
  }

  .left-section ::-webkit-scrollbar {
	width: 10px;
  }
  
  .right-section {
	margin-left: 10px;
	width: 100%;
  }
  

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.search-container {
	display: flex;
	align-items: center;
}

.search-container {
	display: flex;
	justify-content: space-between;
  }
  
.form-control {
	flex: 1;
	margin-right: 10px;
}

.search-button {
	background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
	background: darkred;
}


.search-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    flex: 1;
}

.button {
    margin-left: 20px;
}


.row>* {
    flex-shrink: 0;
    width: auto;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

/* .image-container:hover .overlay {
	opacity: 1;
} */

/* .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
} */


.column-layout .images {
	width: 200px;
	height: 300px;
  }
  
.column-layout .movie-list {
	display: flex;
	flex-direction: column;
  }

  .movie-list-container {
	display: flex;
	/* flex-wrap: nowrap; */
	overflow-x: auto;
	max-height: calc(100vh - 60px);
  }
  
  .column-layout .image-container {
	margin: 20px auto;
  }